<table style="color: #369; font-family: Arial, Helvetica, sans-serif; font-size:large; border-collapse: collapse;">
    <tr>
        <td style="border: 1px solid black;">Name</td>
        <td style="border: 1px solid black;">{{Name}}</td>
    </tr>
    <tr>
        <td style="border: 1px solid black;">Branch</td>
        <td style="border: 1px solid black;">{{Branch}}</td>
    </tr>
    <tr>
        <td style="border: 1px solid black;">Mobile</td>
        <td style="border: 1px solid black;">{{Mobile}}</td>
    </tr>
    <tr>
        <td style="border: 1px solid black;">Gender</td>
        <td style="border: 1px solid black;">{{Gender}}</td>
    </tr>
    <tr>
        <td style="border: 1px solid black;">Age</td>
        <td style="border: 1px solid black;">{{Age}}</td>
    </tr>
</table>